@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'bebas neue'
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  height: 40px ;
  width: 100px ;
  font-size: 1.3em;
  font-family: 'Oswald';
  font-weight: bold;
  border: none;
  background-color: black;
  color: white;
}


